<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HelpFile" value="[AppPath]\Documentation\PDSC-DeveloperUtilities.pdf"/>
    <add key="LicenseFile" value="[AppPath]\Documentation\License.txt"/>
    <add key="ReleaseNotesFile" value="[AppPath]\ReleaseNotes.txt"/>
    <add key="ConnectionStringsFileName" value="[MyDocuments]\PDSCDeveloperUtilities9-{LoginId}\ConnectionStrings.txt"/>
    <add key="DeleteTemplatesXml" value="false"/>
  </appSettings>
</configuration>
