<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities9-[LoginId]\Log\CodeGeneratorLog.txt" />

		<add key="TemplateGroupsFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\CodeGen-TemplateGroups.xml" />
		<add key="FoldersToDeleteFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\CodeGen-FoldersToDelete.xml" />
		<add key="FoldersToCopyFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\CodeGen-FoldersToCopy.xml" />
		<add key="AnnotationsFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\CodeGen-DataAnnotations.xml" />
		<add key="LanguageFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\Languages.xml" />
		<add key="LanguageDataTypesFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\LanguageDataTypes.xml" />
		<add key="ReservedWordsFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\CodeGen-ReservedWords.xml" />
		<add key="ControlsFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\CodeGen-Controls.xml" />
		<add key="TemplatesFolder" value="[MyDocuments]\PDSCDeveloperUtilities9\Templates\" />
		<add key="TemplateGroup" value="Entity/ViewModel Classes" />
    <add key="DotNetVersionsFileName" value="[MyDocuments]\PDSCDeveloperUtilities9\Xml\CodeGen-DotNetVersions.xml" />
		<add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities9-[LoginId]\GeneratedCode\" />

		<add key="DeleteCodeGenFolderBeforeGenerating" value="True" />
    <add key="StandardFieldsInAllTables" value="False" />
    <add key="OpenWindowAfterGenerating" value="True" />
		<add key="IncludeDataAnnotations" value="True" />
		<add key="IncludePropertyComments" value="True" />
		<add key="UseFullProperties" value="True" />
		<add key="UsePropertyChanged" value="True" />
		<add key="PrivateFieldPrefix" value="_" />
    <add key="SpPrefix" value="usp_" />
    <add key="UseCamelCaseForPrivateVariables" value="False" />
    <add key="UseHttps" value="True" />
    <add key="GenerateForeignKeys" value="True" />
    <add key="DotNetVersion" value="net8.0" />
  </appSettings>
</configuration>