<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFile" value="[MyDocuments]\PDSCDeveloperUtilities9-[LoginId]\Log\MockDataGeneratorLog.txt" />

    <add key="OutputFolder" value="[MyDocuments]\PDSCDeveloperUtilities9-[LoginId]\Generated" />

    <add key="SQLTemplate" value="{|SQL|}" />
    
		<add key="ConnectString" value="Data Source=Localhost;Initial Catalog=AdventureWorksLT;Integrated Security=Yes" />
  </appSettings>
</configuration>